@charset "utf-8";

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  /* background-color: #f5f5f5; */
}

.header .contents {
  display: flex;
  align-items: center;
  position: relative;
  height: 120px;
  justify-content: space-between;
}

.header .logo {
  margin-right: 100px;
}

.header .gnb .list {
  display: flex;
}

.header .gnb .link {
  padding: 0 9px;
  margin: 0 9px;
}

.header .user {
  display: flex;
}

.header .search {
  margin-right: 34px;
}

.header .search-btn {
  background: url('../image/search.png') no-repeat 0 0 / 100% auto;
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
}

.header .menu {
  position: relative;
  vertical-align: top;
}

.header .menu-btn {
  width: 45px;
  padding: 4px 0;
}

.header .menu-btn .line {
  width: 100%;
  height: 2px;
  background-color: #000;
}

.header .menu-btn .line+.line {
  margin-top: 6px;
}

.header .menu-btn .line:nth-child(1) {
  width: 16px;
  margin-left: auto;
}

.header .menu-btn .line:nth-child(2) {
  width: 27px;
  margin-left: auto;
}


.main .slide {
  position: relative;
}

.main .slide .sns {
  background: url('../image/icon-sns.png') no-repeat 0 0 / auto auto;
  width: 22px;
  height: 184px;
  position: absolute;
  top: 500px;
  left: 40px;
}

.main .slide-contents {
  position: relative;
}

.main .slide-control {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: calc(50% + -245px);
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 0;
}

.main .slide-control .circle {
  display: inline-block;
  vertical-align: middle;
  border-radius: 14px;
  width: 14px;
  height: 14px;
  margin: 0 10px 0 0;
  background-color: #333;
}

.main .slide-control .circle.show {
  width: 24px;
  height: 24px;
  background-color: #8e54e9;
}

.main .slide-contents .img {
  width: 100%;
  vertical-align: top;
}

.main .slide-contents .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.main .slide-contents .text-box {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
  transform: translateY(-50%);
}

.main .slide-contents .title {
  line-height: 90px;
  margin-bottom: 32px;
  font-size: 75px;
  font-weight: 500;
}

.main .slide-contents .title-point {
  font-size: 80px;
  font-weight: 700;
}

.main .slide-contents .desc {
  width: 471px;
  line-height: 40px;
  color: #000;
  font-size: 25px;
  font-weight: 500;
}

.main .brands .inner {
  padding: 50px 15px;
}

.main .brands-contents {
  font-size: 0;
}

.main .brands-contents .text-box {
  display: inline-block;
  vertical-align: middle;
  width: 367px;
}

.main .brands-contents .title {
  line-height: 55px;
  margin-bottom: 25px;
}

.main .brands-contents .desc {
  line-height: 30px;
  margin-bottom: 15px;
}

.main .brands-contents .desc-text {
  line-height: 30px;
  margin-bottom: 20px;
}

.main .brands-contents .more-link {
  width: 130px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border: 1px solid #8e54e9;
  color: #8e54e9;
  border-radius: 4px;
}

.main .brand-list {
  display: inline-block;
  vertical-align: middle;
  width: 770px;
  margin-left: 33px;
}

.main .brand-list .list::after {
  content: '';
  display: block;
  clear: both;
}

.main .brand-list .item {
  float: left;
  width: 370px;
  margin: 15px 0 15px 15px;
  padding: 50px 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.main .brand-list .icon {
  background: url('../image/home-icons.png') no-repeat 0 0 / auto auto;
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 70px;
}

.main .brand-list .item:nth-child(1) .icon {
  background-position: 0 0;
}

.main .brand-list .item:nth-child(2) .icon {
  background-position: -70px 0;
}

.main .brand-list .item:nth-child(3) .icon {
  background-position: -140px 0;
}

.main .brand-list .item:nth-child(4) .icon {
  background-position: -210px 0;
}

.main .brand-list .tit {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 12px;
}

.main .brand-list .txt {
  font-size: 16px;
  font-family: var(--Hind);
  color: #b7b7b7;
  line-height: 24px;
  margin-bottom: 32px;
}

.main .brand-list .learn-more {
  font-size: 18px;
  font-family: var(--Philosopher);
  font-weight: 700;
}

.main .brand-list .learn-more-arr {
  background: url('../image/home-icons.png') no-repeat -326px -32px / auto auto;
  width: 16px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

@media all and (min-width: 1281px) and (max-width: 1320px) {

  .main .slide-contents .title {
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 24px;
  }

  .main .slide-contents .title-point {
    font-size: 65px;
  }

  .main .slide-contents .desc {
    font-size: 18px;
    line-height: 28px;
  }

  .main .slide .sns {
    display: none;
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

  .main .slide-contents .title {
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 24px;
  }

  .main .slide-contents .title-point {
    font-size: 65px;
  }

  .main .slide-contents .desc {
    font-size: 18px;
    line-height: 28px;
  }

  .main .slide .sns {
    display: none;
  }

  .main .brands-contents {
    font-size: 0;
  }

  .main .brands-contents .text-box {
    display: block;
    /* vertical-align: middle; */
    width: 640px;
    margin: 0 auto;
    text-align: center;
  }

  .main .brands-contents .title {
    line-height: 55px;
    margin-bottom: 25px;
  }

  .main .brands-contents .title br {
    display: none;
  }

  .main .brands-contents .desc {
    line-height: 30px;
    margin-bottom: 15px;
  }

  .main .brands-contents .desc-text {
    line-height: 30px;
    margin-bottom: 20px;
  }

  .main .brands-contents .more-link {
      margin: 0 auto;
  }

  .main .brand-list {
    /* display: inline-block; */
    /* vertical-align: middle; */
    width: auto;
    margin-top: 33px;
    margin-left: auto;
  }

  .main .brand-list .list::after {
    content: '';
    display: block;
    clear: both;
  }

  .main .brand-list .item {
    float: left;
    width: calc(50% + -32px) ;
    margin: 16px;
    padding: 50px 30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .main .brand-list .icon {
    background: url('../image/home-icons.png') no-repeat 0 0 / auto auto;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
  }

  .main .brand-list .item:nth-child(1) .icon {
    background-position: 0 0;
  }

  .main .brand-list .item:nth-child(2) .icon {
    background-position: -70px 0;
  }

  .main .brand-list .item:nth-child(3) .icon {
    background-position: -140px 0;
  }

  .main .brand-list .item:nth-child(4) .icon {
    background-position: -210px 0;
  }

  .main .brand-list .tit {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  .main .brand-list .txt {
    font-size: 16px;
    font-family: var(--Hind);
    color: #b7b7b7;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .main .brand-list .learn-more {
    font-size: 18px;
    font-family: var(--Philosopher);
    font-weight: 700;
  }

  .main .brand-list .learn-more-arr {
    background: url('../image/home-icons.png') no-repeat -326px -32px / auto auto;
    width: 16px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .header .logo {
    margin-right: auto;
  }
  
  .header .gnb {
    display: none;
  }
  
  .header .search {
    margin-right: 28px;
  }

  .main .slide-contents {
    background: url('../image/slide-bg01.png') no-repeat 0 0 / 100% 100%;
    width: 100%;
    height: 640px;
  }

  .main .slide-control {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: calc(50% + -100px);
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 0;
    text-align: center;
  }

  .main .slide-contents .img {
    display: none;
  }
  
  .main .slide-contents .text-box {
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .main .slide-contents .title {
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 20px;
  }

  .main .slide-contents .title-point {
    margin-bottom: 10px;
    font-size: 65px;
  }
  
  .main .slide-contents .desc {
    width: auto;
    font-size: 18px;
    text-align: center;
    line-height: 1;
  }

  .main .slide .sns {
    display: none;
  }

  .main .brands .inner {
    padding: 50px 15px;
  }

  .main .brands-contents .text-box {
    display: block;
    width: 640px;
    margin: 0 auto;
    text-align: center;
  }

  .main .brands-contents .title {
    line-height: 55px;
    margin-bottom: 25px;
  }

  .main .brands-contents .title br {
    display: none;
  }

  .main .brands-contents .desc {
    line-height: 30px;
    margin-bottom: 15px;
  }

  .main .brands-contents .desc-text {
    line-height: 30px;
    margin-bottom: 20px;
  }

  .main .brands-contents .more-link {
    margin: 0 auto;
  }

  .main .brand-list {
    width: auto;
    margin-top: 80px;
    margin-left: auto;
  }

  .main .brand-list .item {
    float: left;
    width: calc(50% + -32px) ;
    margin: 16px;
    padding: 50px 30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .main .brand-list .icon {
    background: url('../image/home-icons.png') no-repeat 0 0 / auto auto;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
  }

  .main .brand-list .item:nth-child(1) .icon {
    background-position: 0 0;
  }

  .main .brand-list .item:nth-child(2) .icon {
    background-position: -70px 0;
  }

  .main .brand-list .item:nth-child(3) .icon {
    background-position: -140px 0;
  }

  .main .brand-list .item:nth-child(4) .icon {
    background-position: -210px 0;
  }

  .main .brand-list .tit {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  .main .brand-list .txt {
    font-size: 16px;
    font-family: var(--Hind);
    color: #b7b7b7;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .main .brand-list .learn-more {
    font-size: 18px;
    font-family: var(--Philosopher);
    font-weight: 700;
  }

  .main .brand-list .learn-more-arr {
    background: url('../image/home-icons.png') no-repeat -326px -32px / auto auto;
    width: 16px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}

@media all and (min-width: 360px) and (max-width: 767px) {
  .header .contents {
    height: 80px;
  }

  .header .logo {
    margin-right: auto;
  }
  
  .header .logo .img {
    width: 100px;
  }
  
  .header .gnb {
    display: none;
  }
  
  .header .search {
    margin-right: 20px;
  }

  .main .slide-contents {
    height: 360px;
  }
  
  .main .slide-control {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-200%);
    z-index: 2;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
  }

  .main .slide-contents .img {
    display: none;
  }
  
  .main .slide-contents .text-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .main .slide-contents .title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .main .slide-contents .title-point {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .main .slide-contents .desc-box {
    width: 100%;
  }
  
  .main .slide-contents .desc {
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
    width: auto;
    font-size: 16px;
  }
  
  .main .slide .sns {
    display: none;
  }

  .main .brands-contents {
    font-size: 0;
  }

  .main .brands-contents .text-box {
    display: block;
    max-width: 538px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .main .brands-contents .title {
    line-height: 55px;
    margin-bottom: 25px;
  }

  .main .brands-contents .title br {
    display: none;
  }

  .main .brands-contents .desc {
    line-height: 30px;
    margin-bottom: 15px;
  }

  .main .brands-contents .desc-text {
    line-height: 30px;
    margin-bottom: 20px;
  }

  .main .brands-contents .more-link {
      margin: 0 auto;
  }

  .main .brand-list {
    /* display: inline-block; */
    /* vertical-align: middle; */
    width: auto;
    margin-top: 33px;
    margin-left: auto;
  }

  .main .brand-list .list::after {
    content: '';
    display: block;
    clear: both;
  }

  .main .brand-list .item {
    float: left;
    width: calc(100% + -32px) ;
    margin: 16px;
    padding: 50px 30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .main .brand-list .icon {
    background: url('../image/home-icons.png') no-repeat 0 0 / auto auto;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
  }

  .main .brand-list .item:nth-child(1) .icon {
    background-position: 0 0;
  }

  .main .brand-list .item:nth-child(2) .icon {
    background-position: -70px 0;
  }

  .main .brand-list .item:nth-child(3) .icon {
    background-position: -140px 0;
  }

  .main .brand-list .item:nth-child(4) .icon {
    background-position: -210px 0;
  }

  .main .brand-list .tit {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  .main .brand-list .txt {
    font-size: 16px;
    font-family: var(--Hind);
    color: #b7b7b7;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .main .brand-list .learn-more {
    font-size: 18px;
    font-family: var(--Philosopher);
    font-weight: 700;
  }

  .main .brand-list .learn-more-arr {
    background: url('../image/home-icons.png') no-repeat -326px -32px / auto auto;
    width: 16px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}

@media all and (min-width: 320px) and (max-width: 359px) {
  .header .contents {
    height: 80px;
  }

  .header .logo {
    margin-right: auto;
  }
  
  .header .logo .img {
    width: 100px;
  }
  
  .header .gnb {
    display: none;
  }
  
  .header .search {
    margin-right: 20px;
  }

  .main .slide-contents {
    height: 360px;
  }
  
  .main .slide-control {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-200%);
    z-index: 2;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
  }

  .main .slide-contents .img {
    display: none;
  }
  
  .main .slide-contents .text-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .main .slide-contents .title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .main .slide-contents .title-point {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .main .slide-contents .desc-box {
    width: 100%;
  }
  
  .main .slide-contents .desc {
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
    width: auto;
    font-size: 16px;
  }
  
  .main .slide .sns {
    display: none;
  }

  .main .brands-contents {
    font-size: 0;
  }

  .main .brands-contents .text-box {
    display: block;
    max-width: 538px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .main .brands-contents .title {
    line-height: 55px;
    margin-bottom: 25px;
  }

  .main .brands-contents .title br {
    display: none;
  }

  .main .brands-contents .desc {
    line-height: 30px;
    margin-bottom: 15px;
  }

  .main .brands-contents .desc-text {
    line-height: 30px;
    margin-bottom: 20px;
  }

  .main .brands-contents .more-link {
      margin: 0 auto;
  }

  .main .brand-list {
    /* display: inline-block; */
    /* vertical-align: middle; */
    width: auto;
    margin-top: 33px;
    margin-left: auto;
  }

  .main .brand-list .list::after {
    content: '';
    display: block;
    clear: both;
  }

  .main .brand-list .item {
    float: left;
    width: calc(100% + -32px) ;
    margin: 16px;
    padding: 50px 30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .main .brand-list .icon {
    background: url('../image/home-icons.png') no-repeat 0 0 / auto auto;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
  }

  .main .brand-list .item:nth-child(1) .icon {
    background-position: 0 0;
  }

  .main .brand-list .item:nth-child(2) .icon {
    background-position: -70px 0;
  }

  .main .brand-list .item:nth-child(3) .icon {
    background-position: -140px 0;
  }

  .main .brand-list .item:nth-child(4) .icon {
    background-position: -210px 0;
  }

  .main .brand-list .tit {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  .main .brand-list .txt {
    font-size: 16px;
    font-family: var(--Hind);
    color: #b7b7b7;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .main .brand-list .learn-more {
    font-size: 18px;
    font-family: var(--Philosopher);
    font-weight: 700;
  }

  .main .brand-list .learn-more-arr {
    background: url('../image/home-icons.png') no-repeat -326px -32px / auto auto;
    width: 16px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}

@media all and (min-width: 0px) and (max-width: 319px) {

}
